<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Entertainment Life</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/272634bd27.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header">
            <nav class="nav">
            <a href="/" class="logo">
                SHOWTIME
            </a>
                <ul>
                    <li class="nav_list">
                        <a href="/" class="nav_button">Home</a>
                    </li>
                    <li class="nav_list">
                        <a href="/" class="nav_button">TV Shows</a>
                    </li>
                    <li class="nav_list">
                        <a href="/" class="nav_button">Movies</a>
                    </li>
                    <li class="nav_list">
                        <a href="/" class="nav_button">Anime</a>
                    </li>
                    <li class="nav_list">
                        <a href="/" class="nav_button">About</a>
                    </li>
                </ul>
                <div class="toggle_btn" tabindex="1">
                    <i class="fa-solid fa-bars"></i>
                    <div class="dropdown_menu">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">TV Shows</a>
                        </li>
                        <li>
                            <a href="/">Movies</a>
                        </li>
                        <li>
                            <a href="/">Anime</a>
                        </li>
                        <li>
                            <a href="/">About</a>
                        </li>
                    </div>
                </div>
            </nav>
            <p class="head_decription">I'm a big fan of all kinds of entertainment, and I love sharing my favorites with others. This website is my way of doing that.
                <span class="arrow"></span>
                <a href="#overlay" id="openFormBtn" class="Add_Button">Add a show
                </a>
            </p>
            <div id="overlay">
                <div id="formContainer">
                    <div id="css_style">
                        <h1>Add a Show</h1>
                        <i id="closeFormBtn" class="fa-sharp fa-solid fa-xmark"></i>
                    </div>

                    <div id="form" method="POST">
                        <div class="input_field">
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" required><br>
                        </div>
                        <div class="input_field">
                            <label for="director">Director</label>
                            <input type="text" id="director" name="director" required><br>
                        </div>
                        <div class="input_field">
                            <label for="type">Type</label>
                            <select id="type" name="type" class="custom_select" required>
                                <option value="TV Show">TV Show</option>
                                <option value="Movie">Movie</option>
                                <option value="Anime TV">Anime TV</option>
                                <option value="Anime Movie">Anime Movie</option>
                            </select>
                        </div>
                        <div class="input_field">
                            <label for="genre">Genre</label>
                            <div class="phrase-container" id="phraseContainer">
                                <div class="phrase-item">
                                    <span>Example Phrase</span>
                                    <i onclick="removePhrase(this.parentNode)" class="fa-sharp fa-solid fa-xmark"></i>
                                </div>
                                <input type="text" id="phraseInput" name="genre">
                            </div>
                        </div>

                        <div class="input_field terms">
                            <label class="check">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <p>Agreed to terms and conditions</p>
                        </div>
                        <div class="inputfield">
                            <input type="submit" id="submit" value="Submit">
                        </div>
                        <span>{{message}}</span>
                    </div>
                </div>
                <script>
                    document.getElementById("openFormBtn").addEventListener("click", function() {
                    document.getElementById("overlay").style.display = "block";
                    document.getElementById("formContainer").classList.add("open");
                    });

                    document.getElementById("closeFormBtn").addEventListener("click", function() {
                    document.getElementById("overlay").style.display = "none";
                    document.getElementById("formContainer").classList.remove("open");
                    });

                    function handleKeyDown(event) {
                        if (event.keyCode === 13) { // Check if the spacebar is pressed
                            event.preventDefault(); // Prevent the spacebar from entering a space in the input field

                            var phraseInput = document.getElementById('phraseInput');
                            var phraseContainer = document.getElementById('phraseContainer');

                            var phrase = phraseInput.value.trim(); // Remove leading/trailing spaces
                            if (phrase !== '') {
                                var div = document.createElement('div');
                                div.className = 'phrase-item';
                                div.innerHTML = '<span>' + phrase + '</span>' +
                                                '<i onclick="removePhrase(this.parentNode)" class="fa-sharp fa-solid fa-xmark"></i>';

                                phraseContainer.appendChild(div);

                                phraseInput.value = ''; // Clear the input field
                            }
                        }
                    }

                    function removePhrase(phraseItem) {
                        phraseItem.remove();
                    }
                </script>
            </div>
        </div>
    </header>

    <!-- <a href="/Add_a_Show">
    <button type="button">Add a Show</button>
    </a>

    {% for item in ITEMS %}
        <p>{{item[0]}} | {{item[1]}} | {{item[2]}} | {{item[3]}} | {{item[4]}} | {{item[5]}}</p>
        <a href="/delete/{{item[0]}}">Delete</a>
    {% endfor %}
     -->
</body>
</html>